<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="consoleEventLogger" class="ua.rud.loggers.ConsoleEventLogger"/>

    <bean id="fileEventLogger" class="ua.rud.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="log.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="ua.rud.loggers.CacheFileEventLogger" init-method="init" destroy-method="destroy">
        <constructor-arg value="cache-log.txt"/>
        <constructor-arg value="3"/>
    </bean>


    <bean id="client" class="ua.rud.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id="event" class="ua.rud.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="app" class="ua.rud.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

</beans>